.box {
    border: 2px solid black;
}

.container {
    display: grid;
    grid-template-columns: repeat(100, auto);
    width: 1024px;
    height: 768px;
    margin-bottom: 3em;
    margin-top: 3em;
}


.newbox {
    background-color: black;
}

#button {
    height: 200px;
    width: 200px;
}

#newgrid {
    margin-top: 2em;
}

.row {
    display:grid;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

