.box {
    width: 50%;
    padding-bottom: 50%;
    border: 2px solid black;    
}

.container {
    display: grid;
    grid-template-columns: repeat(64, auto);
    grid-gap: 1em;
    width: 1280px;
    height: auto;
    padding-bottom: 10em;
}

.row {
    display:grid;
    grid-row-gap: 1em;
}

.newbox {
    background-color: black;
}

#button {
    height: 200px;
    width: 200px;
    position: absolute;
}